th{
    color: cornflowerblue;
}
h4{
    color: cornflowerblue;
}
.titlu{
    color: cornflowerblue;
    text-align: justify;
    text-decoration: solid;
    font-weight: bolder;
    font-size: 25px;

}
h1{
    color: cornflowerblue;
    font-weight: bolder;
    
}